/*Carga de Fuentes*/
@font-face {
	font-family:'MiHelvetica';
	src: url('../fonts/HelveticaLT-Condensed-Black_gdi.eot');
	src: url('../fonts/HelveticaLT-Condensed-Black_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaLT-Condensed-Black_gdi.woff') format('woff'),
	url('../fonts/HelveticaLT-Condensed-Black_gdi.ttf') format('truetype'),
	url('../fonts/HelveticaLT-Condensed-Black_gdi.svg#HelveticaLT-Condensed-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
}


/*ESTILOS GENERALES*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 100% /1.5 Arial, sans-serif;
}

.contenedor{
	display: table;
	clear: both;
	width: 90%;
	margin: 0 auto;
}

/*ESTILOS PARA ENCABEZADO*/

header.encabezado {
  padding: 1.75em 0;
}

.logo {
  display: block;
  float: left;
  width: 19.90%; /*229-1150*/
}

.logo img {
  max-width: 100%;
}

.barra-encabezado {
  float: right;
  margin-top: 0.9375em; /*15-16*/
}


.barra-encabezado .telefono {
  display: inline-block;
  color: #a49c8f;
  font-size: 1.25em;
  /*20-16*/
  text-decoration: none;
  cursor: default;
}

.barra-encabezado .telefono .fa-phone {
  display: inline-block;
  font-size: 1.8em;
  /*35-20*/
  vertical-align: middle;
  padding-right: 0.1em;
  /*2-20*/
}

.barra-encabezado form {
  display: inline-block;
  margin: 0 2.5em;
}

.barra-encabezado form input {
  background: #f2f2f1;
  padding: 0.625em;
  /*12-16*/
  color: #a49c8f;
  border-radius: 0.3125em;
  border: 0.0625em solid #dedede; /*1-16*/
  /**/
  -webkit-border-radius: 5px;
  -moz-border-radius: 0.3125em;
  -ms-border-radius: 0.3125em;
  -o-border-radius: 0.3125em;
  -webkit-border-radius: 0.3125em;
}

.barra-encabezado form input:hover,
.barra-encabezado form input:focus {
  background: #eaeaea;
  padding: 0.625em;
  /*12-16*/
  color: #a49c8f;
  border: 0.0625em solid #ed8d21;
  outline: none;
}

.barra-encabezado .redes-sociales {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.barra-encabezado .redes-sociales li {
  display: inline-block;
}

.barra-encabezado .redes-sociales li a {
  text-decoration: none;
  color: white;
  background: #f1af44;
  display: block;
  width: 2.25em;
  height: 2.25em;
  text-align: center;
  line-height: 2.25em;
  transition: all 0.5s ease;
  aborder-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.barra-encabezado .redes-sociales li a:hover {
  background: #a49c8f;
}

/*ESTILOS PARA MENU PRINCIPAL*/

nav.menu-principal {
  background: #ee5624;
}

nav.menu-principal ul {
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
}

nav.menu-principal ul li {
  display: table-cell;
}

nav.menu-principal ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.125em; /*18-16*/
  padding: 1.25em; /*20-16*/
  border-left: 0.0625em solid #ff7041; /*1-16*/
  border-right: 0.0625em solid #cf3705; /*1-16*/
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

nav.menu-principal ul li:first-child a {
  border-left: none;
}

nav.menu-principal ul li:first-child a {
  border-right: none;
}

nav.menu-principal ul li a:hover {
  background: rgb(249,132,93);
}

/*ESTILOS PARA LA PRESENTACION*/

section.presentacion {
  background: url("../img/fondo-presentacion.jpg") center top;
}

section.presentacion .texto-presentacion{
	float: left;
	width: 53.21739130434783%;
	text-align: center;
}

section.presentacion .texto-presentacion h1{
	font-family: 'MiHelvetica';
	color: white;
	text-shadow: 1px 1px 0 rgb(56, 55, 55);
	font-size: 3.75em; /*60-16*/
	letter-spacing: 2px;
	margin: 1.466666666666667em 0 0 0;/*88-60*/
	line-height: 1.1;
}
section.presentacion .texto-presentacion h2{
	font-family: 'MiHelvetica';
	color: white;
	text-shadow: 1px 1px 0 rgb(56, 55, 55);
	font-size: 1.5em; /*24-16*/
	margin:0;
	line-height: 1.1;
}
section.presentacion .texto-presentacion .boton-principal{
	display: inline-block;
	color: white;
	
	font-size:1.75em; /* 28-16*/
	padding: 0.7142857142857143em; /*20-28*/
	border: 0.25em solid rgba(255, 255, 255, 0.42);/*5-20*/
	border-radius: 0.2857142857142857em; /*8-28*/
	background-color: #ee5624;
	background-clip: padding-box;
	text-decoration: none;
	margin: 0.7142857142857143em 0 0 0; /*20-28*/
	-webkit-transition:all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;

}
section.presentacion .texto-presentacion .boton-principal:hover{
	border: 0.25em solid rgba(255, 255, 255, 0.87);/*5-20*/
	background-color: #CA3200;
}


section.presentacion .imagen-presentacion{
	float: right;
	width: 43.91304347826087%;
}

section.presentacion .imagen-presentacion img{
	position: relative;
	top:1.25em; /*20-16*/
}

/*ESTILOS PARA BIENVENIDOS*/

.bienvenidos h2 {
  font-family: 'MiHelvetica';
  color: #ee5624;
  font-size: 3em; /*48-16*/
  letter-spacing: 2px;
  margin: 0.583333333333333em 0 0 0; /*28-48*/
  line-height: 1.1;
  text-align: center;
}

.bienvenidos p {
  font-family: 'MiHelvetica';
  color: #ea605b;
  font-size: 1.75em; /*28-16*/
  letter-spacing: 2px;
  margin: 0.2857142857142857em 0 0 0; /*8-48*/
  line-height: 1.1;
  text-align: center;
}

.bloque-bienvenidos {
  display: table;
  margin:0.3125em 0 0 0; /*5-16*/
}

.bloque-bienvenidos figure {
  display: table-cell;
  text-align: center;
  padding: 0.9375em; /*15-35*/

}

.bloque-bienvenidos figure a {
  text-decoration: none;
  display: block;
}

.bloque-bienvenidos figure a h3:hover {
  color: #5a605b;
}

.bienvenidos h3 {
  font-family: 'MiHelvetica';
  color: #ee5624;
  font-size: 1.5625em; /*25-16*/
  letter-spacing: 2px;
  margin: 0.6em 0 0.4em 0; /*15 0 10 0*/
  line-height: 1.1;
}



